/* Color palette */
:root {
	--light-shade: #A89984;
	--light-accent:	#689D6A;
	--main-color: #458588;
	--dark-accent: #CC241D;
	--dark-shade: #282828;
}

* {
	background-color: var(--light-shade);
	color: var(--dark-shade);
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: var(--main-color);
	color: white;
}

.header h1 {
	color: white;
	background-color: var(--main-color);
}

.title {
	background-color: var(--main-color);
	margin-left: 10px;
}


.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	background-color: var(--main-color);
	margin-right: 10px;
}

.contact h3 {
	background-color: var(--main-color);
	color: white;
}



h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	color: var(--main-color);
}

